################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GamesReview/GamesReview/App_Data/aspnet-GamesReview-20200206103953.mdf
