################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GamesReview/GamesReview/App_Data/aspnet-GamesReview-20200206103953.mdf
/GamesReview/GamesReview/App_Data/aspnet-GamesReview-20200206103953_log.ldf
/GamesReview/GamesReview/App_Data/ProductContext-20200227124320.mdf
/GamesReview/GamesReview/App_Data/ProductContext-20200227124320_log.ldf
