@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Origin Game Review is an entertainment website dedicated to video game-related news, previews and reviews.</p>
