@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Origin Games Review</h1>
    <p class="lead">Origin Game Review is an entertainment website dedicated to video game-related news, previews and reviews.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>DOOM Eternal – Official Launch Traile</h2>
        <p>
            There is only one dominant life form in this universe, and it carries a steel-barreled sword of vengeance.
            Become the Slayer and hunt Hell’s armies to the far reaches of the earth and beyond. The only thing they fear… is YOU.
        </p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=_UuktemkCFI">Watch Trailer &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>The Last of Us Part II</h2>
        <p>The Last of Us Part II is an upcoming action-adventure game developed by Naughty Dog and published by Sony Interactive Entertainment for the PlayStation 4.</p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=zaESR_myx08">Watch Trailer &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Animal Crossing: New Horizons</h2>
        <p>In Animal Crossing: New Horizons, start fresh on a deserted island and enjoy a peaceful existence full of creativity, freedom, and charm as you roll up your sleeves and make your new life whatever you want it to be.</p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=_3YNL0OWio0">Watch Trailer &raquo;</a></p>
    </div>
</div>